<div class="bgF">
    <button type="button" class="fav-btnClose">
        <svg width="25px" height="25px" aria-label="Закрытие" class="fav-icon-close">
          <use href="../images/symbol-defs.svg#icon-close-40px"></use>
        </svg>
    </button>
    <h2 class="fav-title">My favorite</h2>
    <p class="fav-text">Please, add favorite events</p>
    <ul class="fav-events">
    </ul>
    <button class="card_button login-out">Log out</button>
</div>