<div class="bgS">
    <h2 class="auth-title">Sign in</h2>
    <div class="modal-content">
        <form class="mui-form" id="auth-form">
            <div class="mui-textfield mui-textfield--float-label">
                <input type="email" id="email" required>
                <label for="email">Email</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
                <input type="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <div class="links">
                <a class="mui--text-caption creating-acc" href="#">Create account</a>
            </div>
            <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary" id="enter-btn">
                Enter
            </button>
        </form>
    </div>
</div>