//цвет текста героя, цвет декорирующей фигуры в углу карточки, цвет названия группы, цвет номера активной страницы,
//цвет заголовков в карточке: #DC56C5;
//цвет шрифта лого, цвет шрифта даты и места проведерния концерта, цвет номеров страниц: #ffffff;
//цвет текста в поисковом поле, цвет текста в футере: #939393;
//цвет фона поискового поля: rgba(255, 255, 255, 0.2);
// цвет текста в абзаце карточки: #0E0E0E;​
//основной белый цвет карточки: #FFF2FD;
//основной черный цвет бекграунда: #000000;
//текст кнопки в карточке, цвет контура и текста в кнопке "узнать больше об авторе", цвет кнопки "закрыть": #4C00FE;

$main-body-color: #000000;
$card-body-color: #fff2fd;
$body-decoration-el-color: #212121;
$card-button-color: #4c00fe;
$field-background-color: rgba(255, 255, 255, 0.2);
$header-gradient-color: rgba(11, 11, 11, 0.5);
$main-pulsar-color: #ff00de;
$main-text-color: #ffffff;
$secondary-text-color: #939393;
$hero-text-color: #dc56c5;
$card-paragraph-text: #0e0e0e;
$rose-border-color: rgba(220, 86, 197, 0.3);
$accent: #dc56c5;
$black: #0e0e0e;
$white: #ffffff;
$modal-bg: #fff2fd;
$modal-btn: #4c00fe;
$grey-text-color: #939393;
$input-bg: rgba(255, 255, 255, 0.2);
$overlay: rgba(32, 13, 29, 0.6);
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
