<!-- секция модалки членов команды -->
<div class="backdrop is-hidden">
  <section id="team" class="team modal">
    <div class="team__conteiner">
      <h2 class="team__title">Команда "Dream Team"</h2>
      <ul class="team__list">
        <li class="team-member">
          <img src='../src/images/team/teamMate1.jpg' alt="photo Anastasiia Chikrizova" class="team-member__img">
          <h3 class="team-member__name">Anastasiia Chikrizova</h3>
          <p lang="en" class="team-member__position">Team Lead</p>
        </li>
        <li class="team-member">
          <img src='../src/images/team/teamMate2.jpg' alt="photo Oleg Serdiuk" class="team-member__img">
          <h3 class="team-member__name">Oleg Serdiuk</h3>
          <p lang="en" class="team-member__position">Scrum Master, Developer</p>
        </li>
        <li class="team-member">
          <img src="../src/images/team/teamMate3.jpg" alt="photo Andrew Mishchenko" class="team-member__img">
          <h3 class="team-member__name">Andrew Mishchenko</h3>
          <p lang="en" class="team-member__position">Developer</p>
        </li>
        <li class="team-member">
          <img src="../src/images/team/teamMate4.jpg" alt="photo Kateryna Kondratchuk" class="team-member__img">
          <h3 class="team-member__name">Kateryna Kondratchuk</h3>
          <p lang="en" class="team-member__position">Developer</p>
        </li>
        <li class="team-member">
          <img src="../src/images/team/teamMate5.jpg" alt="photo Aleksandr Korzun" class="team-member__img">
          <h3 class="team-member__name">Aleksandr Korzun</h3>
          <p lang="en" class="team-member__position">Developer</p>
        </li>
      </ul>
    </div>

    <div id="teammates" class="teammates">
      <a class="team-close">
        <svg width="25px" height="25px" aria-label="Закрытие" class="icon-close">
          <use href="./images/symbol-defs.svg#icon-close-40px"></use>
        </svg>
      </a>
    </div>
  </section>
</div>

<!-- Footer -->

<footer class="footer">
  <div class="container">
    <p class="footer-text">
      <span>© 2021 | All Rights Reserved | Developed with</span><span class="footer-icon"></span><span class="footer-team">by <a href="#" class="footer-team__name">"DreamTeam"</a> GoIT</span>
    </p>
  </div>
</footer>
