<main>
  <section class="events">
    <h2 class="top-events">TOP EVENTS</h2>
    <div class="container">
      <ul class="events-gallery js-events-list"></ul>
    </div>
    <div id="sentinel"></div>
  </section>
  <section class="lightbox js-lightbox">
    <div class="lightbox__overlay"></div>
    <div class="lightbox__container">
      <div class="lightbox__content"></div>
      <button
        type="button"
        class="lightbox__button button-more-event"
        data-action="more-events"
      >
        MORE FROM THIS AUTHOR
      </button>

      <button
        type="button"
        class="lightbox__button button-more-close"
        data-action="close-lightbox"
      >
        <svg
          class="button-more-close__svg"
          width="40px"
          height="40px"
          aria-label="Закрытие"
        >
          <use
            class="button-more-close__use"
            href="./images/symbol-defs.svg#icon-close-40px"
          ></use>

        </svg>
      </button>
    </div>
  </section>

  

<div class="auth-modal auth-hidden"></div>
<div class="fav-modal auth-hidden"></div>



<a id="go-top"></a>

</main>


    