.events {
  background-color: $card-paragraph-text;
}
.events-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  min-height: 210px;

  @media (min-width: $desktop) {
    width: 930px;
  }
}
.fav-events {
  display: flex;
  // justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  // min-height: 210px;

  @media (min-width: $desktop) {
    // width: 930px;
  }
}
.fav {
  margin-right: 25px;
}
.login-out {
  display: flex;
  margin: 0 auto;
  display: block;
  align-items: center;
}
